body {
    background-color: black;
}

.header {
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: Copperplate Gothic;
    background-color: blue;
    height: 60px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: grey;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 30px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    background-color: lightgray;
    color: black;
}

.openButton {
    font-family: Arial;
    font-size: 30px;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    float: left;
    background-color: grey;
    border-style: solid;
    border-color: black;
}

.openbutton a {
    text-decoration: none;
    color: white;
    display: block;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: px;
    font-size: 36px;
    margin-left: 170px;
    padding-bottom: 8px
}
    
.sidenav .closebtn:hover {
   background-color: grey; 
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}